{
  "parser": "babel-eslint",
  "extends": ["airbnb-base"],
  "plugins": ["chai-friendly"],
  "rules": {
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  }
}
